.template-container {
  @apply relative w-full min-h-screen flex justify-center items-center py-10 overflow-y-auto;

  background: linear-gradient(
    to bottom right,
    var(--light-pink),
    var(--primary-color),
    var(--light-blue)
  );
}
.template-container:before,
.template-container:after {
  content: "";
  @apply fixed top-0 left-0 w-full h-full;
}
.template-container:before {
  background: linear-gradient(
    to bottom left,
    var(--green-yellow),
    var(--light-blue),
    var(--light-pink)
  );
  animation: pulse1 50s linear infinite;
}
.template-container:after {
  background: var(--green-yellow);
  animation: pulse2 50s linear infinite;
}
.template-content {
  @apply w-[90%] sm:w-[85%] min-h-[90vh] rounded-[30px];
  transition: border 0s;
  z-index: 2;
}

@keyframes pulse1 {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.1;
  }
}

@keyframes pulse2 {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.1;
  }
}
