.drops {
  --large-size: 150px;
  --medium-size: 100px;
  --small-size: 50px;
  --drop-box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05),
    15px 25px 10px rgba(0, 0, 0, 0.1), 15px 20px 20px rgba(0, 0, 0, 0.05),
    inset -10px -10px 15px rgba(255, 255, 255, 0.9);
  @apply relative flex justify-center items-center;
}
.drop {
  @apply absolute bg-transparent ;

  border-radius: 52% 48% 35% 65% / 45% 47% 53% 55%;
  box-shadow: var(--drop-box-shadow);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.drop.drop-large {
  width: var(--large-size);
  height: var(--large-size);
}
.drop.drop-medium {
  width: var(--medium-size);
  height: var(--medium-size);
}
.drop.drop-small {
  width: var(--small-size);
  height: var(--small-size);
}
.drop::before {
  content: "";
  @apply w-[15%] h-[15%] absolute top-[18%] left-[25%] bg-gradient-to-br from-white to-transparent; 

  border-radius: 63% 37% 66% 34% / 57% 48% 52% 43%;
}

.drop::after {
  content: "";
  @apply w-[7%] h-[7%] absolute top-[18%] left-[45%] bg-gradient-to-br from-white to-transparent;
 
  border-radius: 39% 61% 76% 24% / 70% 32% 68% 30%;
}

.drop:nth-child(2) {
  transform: scale(0.5) translate(-130%, 120%);
  border-radius: 45% 55% 31% 69% / 36% 40% 60% 64%;
}

.drop:nth-child(3) {
  transform: scale(0.5) translate(180%, 2%);
  border-radius: 59% 41% 39% 61% / 48% 45% 55% 52%;
}
.drop:nth-child(4) {
  transform: scale(0.35) translate(80%, -200%);
  border-radius: 68% 32% 63% 37% / 41% 28% 72% 59%;
}
