.portfolio {
  --item-width: 200px;
  @apply container mx-auto flex-1;
}

.portfolio-item .portfolio-item-info h3 {
  @apply  lg:text-xl font-bold capitalize mb-5 px-2;
  /* text-truncate */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.details-content .details-title h1 {
  /* text-truncate */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.portfolio-content {
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.portfolio-content::-webkit-scrollbar {
  display: none;
}
.portfolio-content .portfolio-item {
  @apply flex flex-col justify-between relative;  
  scroll-snap-align: start;
}
.portfolio-item-thumbnail{
  @apply bg-white/25 border border-white/40 p-2 rounded-md flex-shrink-0 overflow-hidden;
}
.portfolio-item-info{
  @apply flex-1 mt-auto flex flex-col justify-between items-center p-5 lg:items-start;
}